body {
  margin: 0;
  padding: 0;
  font-family:  'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(33, 62, 30);
  text-decoration: none;

}

.story {
  border-bottom: 3px solid rgb(148, 204, 132);
  width: 75%;
  margin-top: 20px;
  padding-bottom: 20px;
  color: rgb(33, 62, 30);
  text-decoration: none;
}

h1 {
  font-family:  'Nunito', sans-serif;
  font-size: 60px;
  text-align: left;
  color: rgb(28, 97, 38);
  margin-left: 40px;
}
